html, body {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

canvas {
    -webkit-user-drag: none;
    user-select: none;
    touch-action: none;
}